 
@import "./colors.css";

 .sna-popover-form-container {
 background-color:  oklch(1 0 0);
  
 
  border-radius: var(--radius);
}
.sna-popover-title{
  color:#0759a3;
}
.sna-btn-action{
  background-color:#0759a3;
color: oklch(1 0 0) ;
}